*.html linguist-detectable=false
*.xml linguist-detectable=false
*.c linguist-detectable=true
*.s linguist-detectable=true
*.S linguist-detectable=true
*.vhd linguist-detectable=true
*.v linguist-detectable=true